/* General styles */

body {
  background-color: #f9f9f9;
}

.adventures, .my-setup {
  padding: 20px 0 25px 0;
}

.adventures .section-heading, .my-setup .section-heading {
  text-align: center;
}

/* Text styles and size */
header, nav {
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
}

header a {
  text-decoration: none;
  color: black;
}

h1 {
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

nav a, nav li {
  text-decoration: none;
  color: hsl(0, 0%, 45%);
}

h2 {
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 3rem;
  line-height: 0.2em;
}

h3 {
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 2rem;
  line-height: 1.5em;
  margin: 15px 0;
}

h4 {
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 2rem;
  margin-bottom: 0.5em;
  color: hsl(0, 0%, 45%);
}

.intro hr {
  border: 1px solid hsl(0, 0%, 20%);
  line-height: 0.2em;
}

p, figcaption, label, button {
  font-family: 'Poiret One', cursive;
}

.item-name {
  font-weight: bolder;
}

.list-panel hr {
  border: 1px solid hsl(0, 0%, 75%);
}

/* Header */
header {
  text-align: center;
}

/* Navigation bar */

nav {
  list-style-type: none; /* Remove bullets */
  padding: 0.6em 0; /* Remove padding */
  margin: 0; /* Remove margins */
  text-align: center;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
  z-index: 99;
  background-color: #f9f9f9;
}
/* Note to future Mel - you solved the sticky problem by taking the nav element out of the header and putting it as child of the body element. Your problem was that the nav element was sticking only within the header element, which is not what you wanted. */

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 0 0.2rem;
}

nav a:hover {
  color: black;
}

/* Scroll to top button */
#scroll-to-top {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 20px;
  z-index: 99;
  cursor: pointer;
  padding: 0.4em;
}

#scroll-to-top:hover {
  font-weight: bold;
}

/* Intro sections */
.intro {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

#ski-touring .intro {
  background-image: url(../images/chief_pascal_view.JPG);
}

#mountain-biking .intro {
  background-image: url(../images/elfin_lakes_chris.jpeg);
}

.text-container {
  margin: 350px auto auto 65px;
  color: black;
  background-color:hsla(0, 0%, 90%, 0.5);
  padding: 0rem 1rem;
  display: inline-block;
}

/* My adventures section */

.adventure-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.adventures figure {
  margin-top: 1.5rem;
  width: 250px;
}

.adventures img {
  width: 100%;
  border-radius: 100%;
  margin-bottom: 10px;
}

.adventures figcaption {
  text-align: center;
}

/* My setup sections */

.setup-items-container {
  margin: 60px auto;
}

.setup-item {
  width: 825px;
  margin: auto;
  background-color: hsl(0, 0%, 95%);
}

.collapsed-view {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 30px;
  margin-right: 30px;
  cursor: pointer;
  padding-bottom: 0;
}

.skis-icon {
  height: 30px;
  opacity: 0.6;
}

.bike-icon {
  height: 40px;
  opacity: 0.6;
}

.bottom-border {
  border-bottom: 1px solid hsl(0, 0%, 45%);
}

.no-border {
  border-bottom: 1px solid white;
}

/* My setup sections - expanded view */

.expanded-view {
  display: none;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 0 20px;
}

.my-setup img {
  margin-top: 18px;
}

#ski-image, #skins-image{
  height: 300px;
}

#bindings-image {
  height: 90px;
}

#boots-image {
  height: 150px;
}

#rescue-package-image {
  height: 175px;
}

#jaws-image, #greta-image, #lightning-image {
  height: 150px;
  padding: 0 20px;
}

.bike-info {
  padding: 0 20px;
}

/* Plan your adventure page */

#plan-adventure main {
  text-align: center;
}

#tagline-and-questions-container {
  display: inline-block;
  border: 1px solid black;
  background-color: hsl(0, 0%, 95%);
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 2em;
}

#tagline {
  margin-top: 2rem;
  text-align: center;
}

#tagline, .user-question {
  align-items: baseline;
}

#activity-selection {
  display: flex;
  justify-content: center;
}

#day-or-overnight-selection {
  display: none;
  justify-content: center;
}

.user-question {
}

.user-question label {
  padding-left: 0.5em;
}

.radio-buttons {
  margin-left: 1rem;
}

#questions-for-user {
  margin-bottom: 1rem;
}

/* Lists */

#lists-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-container {
  width: 400px;
  border: 1px solid black;
  padding: 15px;
  margin: 0 0 2rem 2rem;
  vertical-align: top;
  background-color: hsl(0, 0%, 95%);
  text-align: center;
}

.list-item {
  display: flex;
  justify-content: space-between;
  margin-right: 1em;
}

.text-input-line {
  display: flex;
  justify-content: space-between;
}

#add-list-item {
  margin-right: 0;
}

/* Footer */
footer {
  text-align: center;
}
