
/* General styles */

/* Text styles and size */
h2 {
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 3rem;
  line-height: 0.2em;
}

h3 {
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 2rem;
  line-height: 0.2em;
}

h4 {
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 2rem;
  line-height: 0.2em;
}

hr {
  border-color: rgb(180, 160, 160);
  line-height: 0.2em;
}

p, figcaption {
  font-family: 'Poiret One', cursive;
}

.item-name {
  font-weight: bolder;
}

/* Header */
header {
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
  text-align: center;
}

/* Navigation bar */

nav {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  text-align: center;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: grey;
}

/* Intro sections */
#ski-touring .intro {
  background-image: url(../images/chief_pascal_view.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  display: flex;
}

#ski-touring .text-container {
  margin: 350px auto auto 65px;
  /*border-style: dashed;*/
  color: black;
  background-color:hsla(0, 0%, 90%, 0.5);
  padding: 0rem 1rem;
  display: inline-block;

}

#mountain-biking .intro {
  background-image: url(../images/elfin_lakes_chris.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

#mountain-biking .text-container {
  margin: 350px auto auto 65px;
  /*border-style: dashed;*/
  color: black;
  background-color:hsla(0, 0%, 90%, 0.5);
  padding: 0rem 1rem;
  display: inline-block;
}


/* My adventures section */

.adventures, .my-setup {
  padding: 20px 0 25px 0;
}

.adventures .section-heading, .my-setup .section-heading {
  text-align: center;
}

.adventure-gallery {
  display: flex;
}

.adventures figure {
  width: 300px;
  border-style: dashed;
}

.adventures img {
  width: 100%;
}

/* My setup sections */

.setup-items-container {
  margin: 60px auto;
}

.setup-item {
  width: 700px;
  margin: auto;
  background-color: hsla(0, 0%, 90%, 0.5);
}

.collapsed-view {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.setup-item h4 {
  margin-left: 30px;
}

.expand-icon {
  margin-right: 30px;
}

.skis {
  height: 30px;
}

.bike {
  height: 40px;
}

.not-last {
  border-bottom: 1px solid black;
}

.last {
  border-bottom: 1px solid white;
}

/* My setup sections - expanded view */

.expanded-view {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 20px;
}

#ski-image, #skins-image{
  height: 300px;
  margin-top: 15px;
}

#bindings-image {
  height: 90px;
  margin-top: 15px;
}

#boots-image {
  height: 150px;
  margin-top: 15px;
}

#rescue-package-image {
  height: 175px;
  margin-top: 15px;
}